<tr>
  <td class="footer" style="border-collapse: collapse;padding: 0;border-top: 20px solid #ffa116;">
    <table style="width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
      <tr>
        <td class="page__logo" style="border-collapse: collapse;padding: 15px;width: 36px;">
          <img src="<%- host %>/images/mail/ls.png" width="36" height="36" alt="" style="outline: none;text-decoration: none;border: none;display: block;-ms-interpolation-mode: bicubic;">
        </td>
        <td class="page__header" style="border-collapse: collapse;padding: 15px 15px 15px 0;color: #000;font-size: 14px;">LibertySoil.org</td>
        <td class="page__header page__header-right" style="border-collapse: collapse;padding: 15px 15px 15px 0;color: #000;font-size: 14px;text-align: right;">
          Email us: <a href="mailto:info@libertysoil.org" style="text-decoration: underline;color: inherit;">info@libertysoil.org</a>
        </td>
      </tr>
      <tr>
        <td class="page__no_spam" colspan="3" style="border-collapse: collapse;padding: 15px;text-align: center;color: #bbb;">
          <p style="margin: 0;">We never spam.<br> If this email was sent to you in error — please let us know, forward it to <a href="mailto:info@libertysoil.org" style="text-decoration: underline;color: inherit;">info@libertysoil.org</a></p>
        </td>
      </tr>
    </table>
  </td>
</tr>
