{
  "presets": [
    "es2015",
    "react",
    "stage-1"
  ],
  "plugins": [
    ["lodash"]
  ],
  "retainLines": true,
  "sourceMaps": "both",
  "env": {
    "development": {
      "plugins": [
        ["flow-runtime", {
          "annotate": false,
          "assert": true,
          "warn": true
        }]
      ]
    }
  }
}
