{
  "presets": ["react"],
  "retainLines": true,
  "sourceMaps": "both",
  "plugins": [
    "syntax-object-rest-spread",
    "syntax-class-properties",
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    "transform-es2015-modules-commonjs",
    "transform-class-properties"
  ]
}
