{
  "extends": [
    "eslint:recommended",
    "plugin:flowtype/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "babel",
    "import",
    "lodash",
    "prefer-object-spread",
    "react",
    "flowtype"
  ],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    },
    "react": {
      "pragma": "React",
      "version": "15.4"
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "array-bracket-spacing": [2, "never"],
    "arrow-spacing": 2,
    "brace-style": [2, "1tbs", { "allowSingleLine": true }],
    "comma-spacing": 2,
    "comma-style": 2,
    "consistent-return": 2,
    "curly": 2,
    "eol-last": 2,
    "func-call-spacing": 2,
    "indent": [2, 2, { "SwitchCase": 1 }],
    "key-spacing": [2, { "beforeColon": false }],
    "keyword-spacing": 2,
    "no-bitwise": 2,
    "no-else-return": 2,
    "no-global-assign": 2,
    "no-lonely-if": 2,
    "no-multiple-empty-lines": 2,
    "no-native-reassign": 2,
    "no-nested-ternary": 2,
    "no-spaced-func": 2,
    "no-template-curly-in-string": 2,
    "no-trailing-spaces": 2,
    "no-unneeded-ternary": 2,
    "no-unsafe-negation": 2,
    "no-var": 2,
    "no-warning-comments": 1,
    "babel/object-curly-spacing": [2, "always"],
    "object-shorthand": 2,
    "padded-blocks": [2, "never"],
    "prefer-const": 2,
    "prefer-template": 2,
    "require-yield": 0,
    "semi": 2,
    "strict": [2, "never"],
    "space-before-blocks": 2,
    "space-before-function-paren": [2, {
      "anonymous": "always",
      "asyncArrow": "always",
      "named": "never"
    }],
    "space-in-parens": [2, "never"],
    "space-infix-ops": 2,
    "space-unary-ops": [2, { "words": true, "nonwords": false }],

    "import/default": 2,
    "import/extensions": 2,
    "import/named": 2,
    "import/namespace": 2,
    "import/no-duplicates": 2,
    "import/no-extraneous-dependencies": 2,
    "import/no-named-as-default": 2,
    "import/no-named-as-default-member": 2,
    "import/no-unresolved": 2,
    "import/order": 2,

    "lodash/callback-binding": 2,
    "lodash/collection-method-value": 2,
    "lodash/collection-return": 2,
    "lodash/no-double-unwrap": 2,
    "lodash/no-extra-args": 2,
    "lodash/prefer-compact": 2,
    "lodash/prefer-filter": 2,
    "lodash/prefer-map": 2,
    "lodash/unwrap": 2,

    "prefer-object-spread/prefer-object-spread": 2,

    "jsx-quotes": 2,
    "react/display-name": 2,
    "react/forbid-prop-types": 2,
    "react/jsx-boolean-value": 2,
    "react/jsx-closing-bracket-location": 2,
    "react/jsx-curly-spacing": 2,
    "react/jsx-equals-spacing": 2,
    "react/jsx-first-prop-new-line": [2, "multiline"],
    "react/jsx-handler-names": 1,
    "react/jsx-indent": [2, 2],
    "react/jsx-indent-props": [2, 2],
    "react/jsx-key": 2,
    "react/jsx-no-bind": [2, { "ignoreRefs": true }],
    "react/jsx-no-duplicate-props": 1,
    "react/jsx-no-target-blank": 2,
    "react/jsx-no-undef": 2,
    "react/jsx-pascal-case": 1,
    "react/jsx-sort-props": [0, { "callbacksLast": true }],
    "react/jsx-space-before-closing": [2, "always"],
    "react/jsx-tag-spacing": 2,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/jsx-wrap-multilines": 2,
    "react/no-children-prop": 2,
    "react/no-danger": 2,
    "react/no-deprecated": 1,
    "react/no-did-mount-set-state": 2,
    "react/no-did-update-set-state": 2,
    "react/no-direct-mutation-state": 2,
    "react/no-is-mounted": 1,
    "react/no-multi-comp": 0,
    "react/no-set-state": 1,
    "react/no-string-refs": 2,
    "react/no-unescaped-entities": 2,
    "react/no-unknown-property": 2,
    "react/no-unused-prop-types": [ 2, { "skipShapeProps": true } ],
    "react/prefer-es6-class": 1,
    "react/prefer-stateless-function": [2, { "ignorePureComponents": true }],
    "react/prop-types": 1,
    "react/react-in-jsx-scope": 1,
    "react/require-optimization": 1,
    "react/require-render-return": 2,
    "react/self-closing-comp": 2,
    "react/sort-comp": 2,
    "react/sort-prop-types": 2,
    "react/style-prop-object": 2,

    "flowtype/boolean-style": [2, "boolean"],
    "flowtype/define-flow-type": 2,
    "flowtype/delimiter-dangle": [2, "never"],
    "flowtype/generic-spacing": [2, "never"],
    "flowtype/no-dupe-keys": 2,
    "flowtype/no-weak-types": 1,
    "flowtype/require-parameter-type": 2,
    "flowtype/require-return-type": [2, "always", {
      "annotateUndefined": "never",
      "excludeArrowFunctions": "expressionsOnly"
    }],
    "flowtype/require-valid-file-annotation": [2, "never"],
    "flowtype/semi": [2, "always"],
    "flowtype/sort-keys": [2, "asc", { "caseSensitive": true, "natural": true }],
    "flowtype/space-after-type-colon": [2, "always"],
    "flowtype/space-before-generic-bracket": [2, "never"],
    "flowtype/space-before-type-colon": [2, "never"],
    "flowtype/type-id-match": [2, "^([A-Z][A-Za-z0-9]*)$"],
    "flowtype/union-intersection-spacing": [2, "always"],
    "flowtype/use-flow-type": 2
  }
}
