.breadcrumbs {
  color: #9d9d9d;
  display: flex;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;

  &-shift {
    margin-left: -3px;
  }
}

.breadcrumbs__body {
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 100%;
}

.breadcrumbs__item {
  //flex-shrink: 0;
  margin-right: 12px;
}

.breadcrumbs__title {
  &:extend(.font-open_sans);
  &:extend(.font-light);
  overflow: hidden;
  text-overflow: ellipsis;
}
