.card {
  background: @color__block_background;

  & + & {
    margin-top: @space;
  }
}

.card__header {
  padding: @space;
  font-weight: bold;
}

.card__content {
  padding: @space @space 0 @space;
}

.card__owner {
  padding: @space;
}

.card__read_link {
  margin-top: @space;
}

.card__footer {
  padding: @space;
  background: #eee;
}

.card__toolbar {
  margin-top: @space;
  &:extend(.layout);

  &:first-child {
    margin-top: 0;
  }

  &_item {
    &:extend(.layout__grid_item all);
  }
}
