.comments {
  background-color: #f9f8f8;
}

.comments__header {
  font-size: 18px;
}

.comments__count {
  display: flex;
  align-items: center;
}

.comments__count_icon {
  margin: 0 8px 0 0;
}

.comments__count_title {

}

.comments__body {
  
}
