.comment {
  margin: 1px 0 0 0;

  &-transparent {
    background: none;
  }

  .dropdown__trigger {
    color: @color__gray;
  }

  &--placeholder {
    padding: 12px 0px;
    color: #999999;
  }
}

.comment__container {
  display: flex;
  align-items: flex-start;
}

.comment__header {
  padding-top: 15px;
  padding-bottom: 9px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 60px;
  overflow: hidden;
}

.comment__author {
  margin-right: 14px;
}

.comment__toolbar {
  display: flex;
  align-items: center;
}

.comment__toolbar_item {
  cursor: pointer;
  color: @color__gray;

  &:hover {
    color: @color__darker;
  }

  & + & {
    margin-left: 8px;
  }
}

.comment__body {
  padding: 15px;
  min-width: 0;
  flex: 1;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  hyphens: auto;
  background: #fff;
}

.comment__edit {
  margin: 8px 60px 8px 0;
  flex: 1;
  font-size: 14px;

  .input {
    border: none;
  }
}

.comment__text {
  margin: 1px 0 0 0;
  font-size: 13px;
  line-height: 1.4;

  p + p {
    margin-top: 8px;
  }
}

.comment__dropdown {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  &.dropdown-closed .icon {
    color: #d9d9d9;
  }
}

.comment__time {
  font-size: 10px;
}

.comment__footer {
  margin: 5px 0 0 0;
}

.comment__edit_area {
  // min-height: 200px
}
