.embedly-card {
  overflow: hidden;
}

.embedly-card-hug {
  margin-top: 12px!important;
  background: #fff;
  border-radius: 0 4px 4px 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  padding: 0 8px 8px 0!important;
}
