.followed_tag {
  display: flex;
  padding: 10px;

  &:hover {
    background-color: @color__dark_gray;
    color: white;
  }

  &-active {
    background: @color__red;
    color: #fff;
  }

  &__icon {
    display: block;
    width: 17px;
    height: 17px;
    border-radius: 11px;
    color: white;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
  }

  &__name {
    display: block;
    margin-left: 10px;
  }
}
