.form {
  &__row {
    display: flex;

    > * {
      align-items: baseline;
    }

    .form__label {
      flex-basis: 170px;
      flex-shrink: 0;
      text-align: right;
      font-weight: 500;

      &--no_space {
        flex-basis: auto;
      }

      &--short {
        margin-right: 10px;
        flex-basis: 80px;
      }
    }

    &--in_progress {
      position: relative;
    }

    &--in_progress::after {
      &:extend(.micon);
      &:extend(.micon-rotate);
      &:extend(.micon-midl);
      content: 'refresh';
      position: absolute;
      right: 5px;
      z-index: 100;

      color: black;
    }
  }

  &--inactive {
    opacity: 0.5;
  }
}
