.icon {
  display: inline-flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;

  &-outline {
    border-radius: 50%;
    background: #fff;
    padding: 5px;
  }

  &-midi.icon-outline {
    height: 29px;
    width: 29px;
    padding: 0;
  }

  &--size_big {
    padding: 4px;
    width: 37px;
    height: 37px;
    border-radius: 50%;
  }
}
