.input_group {
  display: flex;
  align-items: center;
  position: relative;
}

.input_group__before {
  margin: 0 10px 0 0;

  &-outside {
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
}

.input_group__input {
  flex: 1;
}
