.menu {

}

.menu__item {
  font-size: 12px;
  display: block;
  white-space: nowrap;
  padding: 3px 0;
  background-color: #fff;

  &:hover {
    color: @color__red;
  }

  &:empty {
    display: none;
  }

  &--theme_new {
    padding: 12px 14px 14px 14px;
    min-width: 135px;
    font-size: 14px;

    &:hover {
      color: #6b78f9;
    }

    & + & {
      margin-top: 1px;
    }
  }
}
