.page {

}

.page__header {

}

.page__sidebar {
  padding: @space;
  flex: 0 0 240px;
  box-sizing: border-box;
  background: @color__background;

  @media @after-normal {
    margin-right: 1px;
  }
}

.page__body {
  &:extend(.layout-rows);

  @media @after-normal {
    .layout;
    .layout-columns;
  }
}

.page__footer {

}

.page__content {
  padding: @space;
  background: @color__background;
  &:extend(.layout__grid_item-wide);
}
