.tabs {
  &__menu {

  }

  &__title {
    list-style: none;

    &-gray {
      &.tabs__title-active {
        background: #dcd5cd;
      }
    }
  }

  &__link {

  }

  &__panel {

  }

  &__tab {

  }

  &__content {

  }

  &-theme_settings {
    overflow: hidden;
    border-radius: 0 @radius-button @radius-button 0;

    .tabs__title {
      display: block;
      padding: 10px @space;
      border: none;
      border-radius: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &-active {
        background: #dcd5cd;
      }
    }
  }

  &-reverse {
    display: flex;
    flex-direction: column-reverse;
  }
}
