.user_box {
  &:extend(.layout);

  &__name {
    margin: 0 0 4px;
  }

  &__body {
    .user_box__avatar + & {
      margin-left: 10px;
    }
  }
}

.user_box__avatar {
  border-radius: 50%;
}

.user_box__text {
  font-size: @font__size-small;
}
