<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
<script>var state = <%- state %></script>
<div id="content"><%- html %></div>
<script src="/scripts/app.js"></script>
</body>
</html>
